DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=originconnect
DB_PASSWORD=OC_SECURE_2024!
DB_NAME=originconnect
JWT_SECRET=OC_JWT_SECRET_CHANGE_THIS_MIN_32_CHARS
JWT_REFRESH_SECRET=OC_REFRESH_SECRET_CHANGE_THIS_32
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
PORT=3000
NODE_ENV=production
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=50
BASE_URL=http://187.127.145.48:3000
SMS_PROVIDER=mock
